<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>29.0</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-15.0</real>
      <key>public.kern2.T</key>
      <real>-16.0</real>
      <key>public.kern2.V</key>
      <real>-35.0</real>
      <key>public.kern2.W</key>
      <real>-35.0</real>
      <key>public.kern2.Y</key>
      <real>-30.0</real>
      <key>public.kern2.o</key>
      <real>-15.0</real>
      <key>public.kern2.quotesingle</key>
      <real>-43.0</real>
      <key>public.kern2.t</key>
      <real>-8.0</real>
      <key>public.kern2.u</key>
      <real>-8.0</real>
      <key>public.kern2.v</key>
      <real>-24.0</real>
      <key>public.kern2.w</key>
      <real>-24.0</real>
      <key>public.kern2.y</key>
      <real>-24.0</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-24.0</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>comma</key>
      <real>-29.0</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>9.0</real>
      <key>public.kern2.V</key>
      <real>-34.0</real>
      <key>public.kern2.W</key>
      <real>-34.0</real>
      <key>public.kern2.Y</key>
      <real>-34.0</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-16.0</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-29.0</real>
      <key>public.kern2.o</key>
      <real>-25.0</real>
      <key>public.kern2.s</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-16.0</real>
      <key>public.kern2.o</key>
      <real>-25.0</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>comma</key>
      <real>-82.0</real>
      <key>period</key>
      <real>-58.0</real>
      <key>public.kern2.A</key>
      <real>-20.0</real>
      <key>public.kern2.O</key>
      <real>-8.0</real>
      <key>public.kern2.o</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>comma</key>
      <real>-82.0</real>
      <key>period</key>
      <real>-58.0</real>
      <key>public.kern2.A</key>
      <real>-35.0</real>
      <key>public.kern2.o</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>comma</key>
      <real>24.0</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>comma</key>
      <real>-48.0</real>
      <key>public.kern2.A</key>
      <real>-30.0</real>
      <key>public.kern2.o</key>
      <real>-24.0</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <real>58.0</real>
      <key>public.kern2.quoteleft</key>
      <real>38.0</real>
      <key>public.kern2.quoteright</key>
      <real>58.0</real>
      <key>public.kern2.quotesingle</key>
      <real>58.0</real>
      <key>question</key>
      <real>38.0</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.p</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.w</key>
      <real>10.0</real>
      <key>public.kern2.y</key>
      <real>21.0</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>comma</key>
      <real>-58.0</real>
      <key>period</key>
      <real>-58.0</real>
      <key>public.kern2.o</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>comma</key>
      <real>-58.0</real>
      <key>period</key>
      <real>-58.0</real>
      <key>public.kern2.o</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>comma</key>
      <real>-58.0</real>
      <key>period</key>
      <real>-58.0</real>
      <key>public.kern2.o</key>
      <real>-10.0</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <real>28.0</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <real>-12.0</real>
    </dict>
  </dict>
</plist>
