<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.W</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-45</integer>
      <key>public.kern2.t</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.w</key>
      <integer>-25</integer>
      <key>public.kern2.y</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-18</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-17</integer>
      <key>public.kern2.o</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-46</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-46</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.caroncomb.alt</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>26</integer>
      <key>public.kern2.v</key>
      <integer>22</integer>
      <key>public.kern2.w</key>
      <integer>22</integer>
      <key>public.kern2.y</key>
      <integer>22</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-8</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <integer>-13</integer>
    </dict>
  </dict>
</plist>
