<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute.loclPLK</key>
    <string>acute.loclP_L_K_.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>rightanglebracket-math</key>
    <string>rightanglebracket-math.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
  </dict>
</plist>
