<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>30.0</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-35.0</real>
      <key>public.kern2.T</key>
      <real>-47.0</real>
      <key>public.kern2.V</key>
      <real>-60.0</real>
      <key>public.kern2.W</key>
      <real>-60.0</real>
      <key>public.kern2.Y</key>
      <real>-80.0</real>
      <key>public.kern2.o</key>
      <real>-35.0</real>
      <key>public.kern2.quotesingle</key>
      <real>-45.0</real>
      <key>public.kern2.t</key>
      <real>-35.0</real>
      <key>public.kern2.u</key>
      <real>-35.0</real>
      <key>public.kern2.v</key>
      <real>-35.0</real>
      <key>public.kern2.w</key>
      <real>-35.0</real>
      <key>public.kern2.y</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-45.0</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-35.0</real>
      <key>public.kern2.W</key>
      <real>-35.0</real>
      <key>public.kern2.Y</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-25.0</real>
      <key>public.kern2.V</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.o</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-17.0</real>
      <key>public.kern2.o</key>
      <real>-40.0</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-60.0</real>
      <key>public.kern2.O</key>
      <real>-20.0</real>
      <key>public.kern2.o</key>
      <real>-46.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-65.0</real>
      <key>public.kern2.o</key>
      <real>-46.0</real>
      <key>public.kern2.period</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-80.0</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-20.0</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <real>-13.0</real>
    </dict>
  </dict>
</plist>
