<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute.loclPLK</key>
    <string>acute.loclP_L_K_.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>brevecomb_acutecomb</key>
    <string>brevecomb_acutecomb.glif</string>
    <key>brevecomb_gravecomb</key>
    <string>brevecomb_gravecomb.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_k</key>
    <string>c_k.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_hookabovecomb</key>
    <string>circumflexcomb_hookabovecomb.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>f_iacute</key>
    <string>f_iacute.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slashlongcomb.case</key>
    <string>slashlongcomb.case.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>won</key>
    <string>won.glif</string>
  </dict>
</plist>
