<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>603</integer>
    <key>copyright</key>
    <string>Copyright (c) 2019, The Grenze Project Authors (https://github.com/Omnibus-Type/Grenze)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Grenze</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>166</integer>
        <key>y</key>
        <integer>659</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>166</integer>
        <key>y</key>
        <integer>768</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/03/21 17:53:15</string>
    <key>openTypeHheaAscender</key>
    <integer>1100</integer>
    <key>openTypeHheaDescender</key>
    <integer>-380</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Renata Polastri</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.omnibus-type.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Omnibus-Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.omnibus-type.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1100</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-380</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>OMNI</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1111</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>380</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-9</integer>
      <integer>0</integer>
      <integer>448</integer>
      <integer>457</integer>
      <integer>603</integer>
      <integer>612</integer>
      <integer>750</integer>
      <integer>759</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-259</integer>
      <integer>-250</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>45</integer>
      <integer>54</integer>
      <integer>60</integer>
      <integer>74</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>90</integer>
      <integer>96</integer>
      <integer>99</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-170</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Grenze</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Grenze is a trademark of Omnibus-Type</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>448</integer>
  </dict>
</plist>
